<div id="countries-list" class="col-sm-8 col-sm-offset-2">
	<table id="list">
		<tr class="">
			<th>Name</th>
			<th>Country Code</th>
			<th>Capital</th>
			<th>Area in km&#178;</th>
			<th>Population</th>
			<th>Continent</th>
		</tr>
		<tr ng-repeat="country in countries | orderBy: 'name' " ng-click="countryLink(country.countryCode,country.capital)" class="country-search-query">
				<td>{{country.countryName}}</td>
				<td>{{country.countryCode}}</td>
				<td>{{country.capital}}</td>
				<td>{{country.areaInSqKm | number}}</td>
				<td>{{country.population | number}}</td>
				<td>{{country.continent}}</td>
			</tr>
	</table>
	<a href="#!/" class="browse btn btn-default">Home</a>
</div>