.data-title {
	text-align: right;
}
.country-name {
	text-align: center;
}

.data-point {

}

.table-center {

}


.country-img {
	margin-top: 45px;
	text-align: right;
}

.flag-img {
	margin-top: 45px;
	text-align: left;
}

#country-detail {
	.neighbors {
		text-align: center;
		margin: 0 3px;
	}
	margin-top: 45px;
	.browse {
		display: inline-block;
	}
	.center-block {
		width: 60%;
	}

	table {
	height: 100% !important;
	width: auto !important;
	tbody {
		margin: 0 auto;
	}

	td {
		border-top: initial !important;
	}
}
}