@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.hero-title {
	text-align: center;
}

.header {
	border-bottom: 2px solid black;
}

#intro {
	margin-top: 45px;
}

$buttonColor : #65A2C5;
    .browse {
        margin: 35px auto;
        display: block;
        width: 150px;
        background: $buttonColor;
        border-color: $buttonColor;
        color: white;
        text-shadow: none;

        &:hover {
          background: darken($buttonColor, 20%);
          border-color: darken($buttonColor, 20%);
          color: white;
          font-weight: 600;
        }
}

.loading {
  position:absolute;
  height: auto;
  width: 100%;
  top: 0;

  &:before {
  position: fixed;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  opacity: 1;
  background:rgba(255,255,255,1) no-repeat center center;
  background-image: url('img/loading-animation.gif');
  }
}

.animate-view.ng-enter,
    .animate-view.ng-leave {
        transition: 1s linear all;
    }
.animate-view.ng-enter { opacity:0; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }